@charset "utf-8";


/*PC・タブレット・スマホ(全端末)共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*全体の設定
---------------------------------------------------------------------------*/
body{
    background: #000000; !important;
    animation-name: fade; !important;
    animation-duration: 1.5s; !important;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


ul
{
list-style-type: none;
}

hr
{
border: solid 1px #cdb897;
margin-bottom: 40px;
}


/*リンク（全般）設定
---------------------------------------------------------------------------*/
.black
{
display:inline-block;
text-decoration: none;
background: #000000;
color: #ffffff;
transition: 0.3s;
text-align: center;
font-size: 22px;
line-height: 2;
border: solid 1px #ffffff;
padding: 10px 10px;
margin-bottom: 40px;
width:60%;
}

.black:hover
{
color: #ea021c;
}


.white
{
display:inline-block;
text-decoration: none;
background: #ffffff;
color: #000000;
transition: 0.3s;
text-align: center;
font-size: 22px;
line-height: 2;
padding: 10px 10px;
margin-bottom: 40px;
width:60%;
}

.white:hover
{
color: #ea021c;
}


/*コンテナー（ホームページを囲む一番外側のブロック）
---------------------------------------------------------------------------*/

.content
{
text-align: right;
margin-top: 20px;
margin-bottom: 30px;
}


/*画像
---------------------------------------------------------------------------*/
#top
{
border: none;
max-width: 100%;
height: auto;
vertical-align: middle;
text-align: center;
border-radius: 10px;
margin: 0px 0px 30px;
}

.insert{
    width: 95%;
}

.mini{
    width: 10%;
}

/*文字
---------------------------------------------------------------------------*/
.subtitle
{
display:inline;
text-align: left;
padding: 0px 0px 0px;
}

span
{
text-align: center;
line-height: 2;
}

/*フッター設定
---------------------------------------------------------------------------*/
footer{

}



/*画面幅580px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:580px){


/*全体の設定
---------------------------------------------------------------------------*/
body
{
font-size: 12px;
}

/*画像
---------------------------------------------------------------------------*/
.mini
{
width: 15%;
}



/*リンク
---------------------------------------------------------------------------*/
.black
{
font-size: 16px;
line-height: 3;
padding: 0px 10px;
width: 80%;
}

.white
{
font-size: 16px;
line-height: 3;
padding: 0px 10px;
width: 80%;
}
